<h1>Cart#index</h1>
<p>
    You have <%= @cart.count %> items in your cart.
</p>

<ul>
<% @cart.each do |item| %>
    <li>
        <% product = @products.find { |p| p.id == item['id'] } %>
        <%= product.productname %>
        <%= item['qty'] %>
        <form action="<%= update_cart_path %>" method="post">
            <p>
                <%= number_field_tag 'quantity_param', item['qty'], min: 0, max: product['amountinstock'] %>
            </p>
            <p>
                <%= button_to 'update', update_cart_path, params: { id: item['id'] }, method: :put %>
            </p>
            <p>
                <%= button_to 'remove', remove_from_cart_path, params: { id: item['id'], where: 'C' }, method: :delete %>
            </p>
        </form>
    </li>
<% end %>
</ul>

<p>
    Total Before Tax: <%= number_to_currency(@estimated, precision: 2) %>
</p>
<% if @taxprovince.nil? %>
    <p>
        You must provide your address before final price can be determined. Select place order and enter your address.
    </p>
<% else %>
    <p>
        Tax: <%= number_to_currency(@tax, precision: 2) %>
    </p>
    <p>
        Estimated Total: <%= number_to_currency(@estimated + @tax, precision: 2) %>
    </p>
<% end %>

<div data-turbo='false'>
<%= form_with url: checkout_path do |f| %>
    <%= f.submit 'Place Order' %>
<% end %>
</div>