<h1>Cart#index</h1>
<p>
    You have <%= @cart.count %> items in your cart.
</p>

<ul>
<% @cart.each do |item| %>
    <li>
        <% product = @products.find { |p| p.id == item['id'] } %>
        <%= product.productname %>
        <%= item['qty'] %>
        <form action="<%= update_cart_path %>" method="post">
            <p>
                <%= number_field_tag 'quantity_param', item['qty'], min: 0, max: product['amountinstock'] %>
            </p>
            <p>
                <%= button_to 'update', update_cart_path, params: { id: item['id'] }, method: :put %>
            </p>
        </form>
    </li>
<% end %>
</ul>

<p>
    Estimated Total: <%= number_to_currency(@estimated, precision: 2) %>
</p>

<p>
    <%= link_to 'Place Order', checkout_path %>
</p>