<section class="mt-5">
<h1 class="is-size-2 mt-6 mb-6 has-text-centered"> Enter Your Address Details </h1>


<div class="container">
  <div class="columns">
    <div class="column is-one-third">
<%= form_with url: checkout_address_update_path do |form| %>
  <div class="field">
    <%= form.label :addressstreet , class: "label" %>
    <%= form.text_field :addressstreet, required: true, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :postalcode, class: "label" %>
    <%= form.text_field :postalcode, required: true, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :primary_province_id, class: "label" %>
    <div class="select">
    <%= form.collection_select :primary_province_id, Province.all, :id, :provincename, { prompt: true }, required: true %>
    </div>
  </div>

   <div class="field is-grouped">
    <div class="control">
    <%= form.submit "Submit Address", class: 'button is-link' %>
  </div>
    <div class="control">
    <%= link_to 'Back', cart_path, class: 'button is-link is-light' %>
  </div>
  </div>

<% end %>


<div class="column"></div>
  <div class="column"></div>
  </div>
</div>
</section>