<section class="mt-5">
<h1 class="is-size-2 mt-6 mb-6 has-text-centered"> Thanks for your order! </h1>
<h2 class="subtitle">  We here at Bikazon really appreciate your support! </h2>
<h3>Here's a summary of your order:</h3>
        <table class="table mt-5 is-fullwidth">
            <tr>
                <th colspan="4"><strong>Address Information</strong></th>
            </tr>
            <tr>
                <td class="alignright"><strong>Address:</strong></td>
                <td><%= @buyer[:address] %></td>
                <td class="alignright"><strong>Postal Code:</strong></td>
                <td><%= @buyer[:postalcode] %></td>
            </tr>
            <tr>
                <td class="alignright"><strong>Province:</strong></td>
                <td><%= @buyer[:province] %></td>
                <td colspan="2" class="alignright"><strong>Email:</strong></td>
                <td colspan="2"><%= @buyer[:email] %></td>
            </tr>
            <tr>
                <td class="alignright"><strong>View Your Invoice</strong></td>
                <td><a href="<%= @buyer[:invoice_url] %>" target="_blank" rel="noopener noreferrer" >Invoice</a></td>
            </tr>
        </table>
        <table class="table">
            <tr>
                <td colspan="3"><strong>Order Details</strong></td>
            </tr>
            <tr>
                <td><strong>Quantity</strong></td>
                <td><strong>Description</strong></td>
                <td><strong>Cost</strong></td>
            </tr>
            <% @oorderitem.each do |orderitem| %>
                <tr>
                    <td><%= orderitem.quantity %></td>
                    <td><%= Product.find(orderitem.product_id).productname %></td>
                    <td><%= orderitem.price %></td>
                </tr>
            <% end %>
            <tr>
                <td></td>
                <td><strong>Totals:</strong></td>
                <td><%= @total %></td>
            </tr>
        </table>
        </section>