<h1> Thanks for your order! We here at Bikazon really appreciate your support! </h1>
<h3>Here's a summary of your order:</h3>
        <table>
            <tr>
                <td colspan="4"><h3>Address Information</h3></td>
            </tr>
            <tr>
                <td class="alignright"><span class="bold">Address:</span></td>
                <td><%= @buyer[:address] %></td>
                <td class="alignright"><span class="bold">Postal Code:</span></td>
                <td><%= @buyer[:postalcode] %></td>
            </tr>
            <tr>
                <td class="alignright"><span class="bold">Province:</span></td>
                <td><%= @buyer[:province] %></td>
                <td colspan="2" class="alignright"><span class="bold">Email:</span></td>
                <td colspan="2"><%= @buyer[:email] %></td>
            </tr>
            <tr>
                <td class="alignright"><span class="bold">View Your Invoice</span></td>
                <td><a href="<%= @buyer[:invoice_url] %>" target="_blank" rel="noopener noreferrer" >invoice</a></td>
            </tr>
        </table>
        <table>
            <tr>
                <td colspan="3"><h3>Order Details</h3></td>
            </tr>
            <tr>
                <td><span class="bold">Quantity</span></td>
                <td><span class="bold">Description</span></td>
                <td><span class="bold">Cost</span></td>
            </tr>
            <% @oorderitem.each do |orderitem| %>
                <tr>
                    <td><%= orderitem.quantity %></td>
                    <td><%= Product.find(orderitem.product_id).productname %></td>
                    <td><%= orderitem.price %></td>
                </tr>
            <% end %>
            <tr>
                <td></td>
                <td class='alignright'><span class="bold">Totals</span></td>
                <td class='alignright'><span class="bold"><%= @total %></span></td>
            </tr>
        </table>