
<div class="container">
  <div class="columns">
    <div class="column"></div>
    <div class="column"></div>
    <div class="column is-one-fifth">
      <!-- Your main content goes here -->
      <%= paginate products, previous_label: "&laquo; Previous", next_label: "Next &raquo;", class: "pagination is-centered" %>
    </div>
  </div>
</div>

<% products.each do |product| %>
<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <% if product.images.first.present? %>
        <%= image_tag(product.images.first.variant(resize_to_limit: [100,100])) %>
      <% else %>
        <p>No Image</p>
      <% end %>
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong><%= product.productname %></strong>
        <br>
        <%= product.description %>
      </p>
      <small><%= link_to 'Check It Out!', product_path(product), class: 'button is-link is-light' %></small>
    </div>
  </div>
</article>
<% end %>
