<ul>
    <li>
        <%= link_to 'Home', root_path %>
    </li>
    <li>
        <%= link_to 'View Cart', cart_path %>
    </li>
</ul>

        <%= form_with url: "/search", method: :get do |form| %>

                            <%= form.label :query, "Find Products:" %>

                            <%= form.text_field :query %>
                            <%= form.select :category, options_for_select(["All"] + @search_categories) %>
                            <%= form.submit "Search" %>
                        </div>
                    </div>
                <% end %>
<% if account_signed_in? %>
    <%= button_to "logout", destroy_account_session_path, method: :delete %>
<% else %>
    <%= link_to "login", new_account_session_path %>
<% end %>
<p><%= account_session %></p>