<section class="mt-5">
<h1 class="is-size-2 mt-6 mb-6 has-text-centered"> Account Details </h1>

<table class="table">
  <tr>
    <th>Email</th>
    <td><%= @account.email %></td>
  </tr>
  <tr>
    <th>Password</th>
    <td><%= @account.password %></td>
  </tr>
  <tr>
    <th>Primary Address Street</th>
    <td><%= @account.primaryaddressstreet.presence || "N/A" %></td>
  </tr>
  <tr>
    <th>Primary Postal Code</th>
    <td><%= @account.primarypostalcode.presence || "N/A" %></td>
  </tr>
  <tr>
    <th>Secondary Address Street</th>
    <td><%= @account.secondaryaddressstreet.presence || "N/A" %></td>
  </tr>
  <tr>
    <th>Secondary Postal Code</th>
    <td><%= @account.secondarypostalcode.presence || "N/A" %></td>
  </tr>
  <tr>
    <th>Primary Province</th>
    <td><%= @account.primary_province.presence ? Province.find(@account.primary_province_id).provincename : "N/A" %></td>
  </tr>
  <tr>
    <th>Secondary Province</th>
    <td><%= @account.secondary_province ? Province.find(@account.secondary_province_id).provincename : "N/A" %></td>
  </tr>
  <tr>
    <th>Created At</th>
    <td><%= @account.created_at %></td>
  </tr>
  <tr>
    <th>Updated At</th>
    <td><%= @account.updated_at %></td>
  </tr>
</table>

  <div class="control">
    <%= link_to 'Edit', account_edit_path, class: 'button is-link' %>
  </div>

</section>