<h1>Products#show</h1>
<p>
    <%= @product.productname %>
</p>
<p>
    <%= @product.description %>
</p>
<p>
    <%= number_to_currency @product.price %>
</p>
<% if @cart.any? do |cartitem| cartitem['id'] == @product.id end %>
    <%= button_to 'remove from cart', remove_from_cart_path(@product), method: :delete %>
<% else %>
<p>
    <%= button_to 'add to cart', add_to_cart_path(@product.id) %>
</p>
<% end %>
