<h1>Products#show</h1>
<p>
    <%= @product.productname %>
</p>
<p>
    <%= @product.description %>
</p>
<p>
    <%= number_to_currency @product.price %>
</p>
<% if @cart.any? do |cartitem| cartitem['id'] == @product.id end %>
    <%= button_to 'remove from cart', remove_from_cart_path, params: { id: @product.id, where: 'P' }, method: :delete %>
<% else %>
<form action="<%= add_to_cart_path %>" method="post">
    <p>
        <%= number_field_tag 'quantity_param', 1, min: 1, max: @product.amountinstock %>
    </p>
    <p>
        <%= button_to 'add to cart', add_to_cart_path, params: { id: @product.id }, method: :post %>
    </p>
</form>
<% end %>
